<ion-content>
  <ion-slides pager="true">
 
    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <h1>Vardiya Takip Uygulamasına HOŞGELDİNİZ!</h1>
        <br>
        <br>
        <img src= "../assets/img/res.jpg">
        <br>
        <br>
        <br>
        <br>
        <ion-button (click)="next()" fill="outline" color="light">İlerle</ion-button>
      </ion-text>
    </ion-slide>
 
    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <p>Vardiya takip uygulaması ile vardiyalı çalışanların çalışma saatlerinin takibi gerçekleştirilebilecektir. Aynı zamanda çalışanlar günlük görevlerini listeleyerek adım adım takip edebileceklerdir.</p>
        <br>
        <br>
        <br>
        <br>
        <ion-button color="light" fill="outline" (click)="goLogin()"> Giriş Yap</ion-button>
        <ion-button color="light" fill="outline" (click)="goRegistration()"> Kayıt Ol</ion-button>
      </ion-text>
    </ion-slide>
 
  </ion-slides>
</ion-content>